@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

@tailwind components;
@tailwind utilities;


:root {
  font-size: 32px;
  font-family: 'Noto Sans Mono', monospace;
  background-image: url("/main_bg.png");
  background-attachment: fixed;
  background-position: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
}

.banner-body {
  backdrop-filter: blur(1.5px);
}

.navbar-body {
  backdrop-filter: blur(1.5px);
  border: none;
  border-bottom: solid 1px white;
}

.navbar-invert {
  backdrop-filter: invert(1);
}

.navbar-translate {
  transform: translateY(-1rem);
}

.navbar-hover:hover .navbar-marker {
  width: 100%;
}

.scroll-transition {
  transition: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0,.75,.25,1);
}

.text-shadow {
  text-shadow: black 0.25rem 0.25rem 0px
}

.hider1 { transition: transform .5s cubic-bezier(0,.75,.25,1); }
.hider2 { transition: transform .75s cubic-bezier(0,.75,.25,1), opacity .75s cubic-bezier(0,.75,.25,1); }
