@tailwind components;
@tailwind utilities;

:root {
  font-size: 32px;
  background-image: url("/main_bg.png");
  background-attachment: fixed;
  background-position: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
}
